@font-face {
  font-family: 'futura';
  src: url('../font/futura.ttf');
}

@font-face {
  font-family: 'garamond';
  src: url('../font/garamond.ttf');
}

@font-face {
  font-family: 'inkgraphy';
  src: url('../font/inkgraphy.ttf');
}

body {
  font-family: 'futura';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'garamond';
}

.futura-font, ul, .font-poppins {
  font-family: 'futura';
}

.inkgraphy-font {
  font-family: 'inkgraphy';
}